<!DOCTYPE html>
<html lang="en">
<head>
  <title>@ViewBag.Title</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="~/assets/vendor.min.css" asp-append-version="true" />
  <script src="~/assets/app.min.js" asp-append-version="true"></script>
  <script>App.Services.dom.loadCss(App);</script>
</head>
<body>
  <div id="header">
    <script>m.mount(document.getElementById("header"), App.Components.pageHeader)</script>
  </div>

  <div id="root">
    @RenderBody()
  </div>

  <div id="footer">
    <script>m.mount(document.getElementById("footer"), App.Components.pageFooter)</script>
  </div>
</body>
</html>
